{% extends 'base.html' %}

{% block conteudo %}
    <span class="badge badge-secondary"><h4>Filmes do Gênero {{ genero.tipo }}:</h4></span>
    <p></p>
    <ul class="list-group">
        {% if filme_mostrar %}
            {% for filme in filme_mostrar %}
                <a class="list-group-item list group item action" href="{% url 'filmes-detail' filme.id %}">
                    {{ filme.titulo }}</a>
            {% endfor %}
        {% else %}
            <p>Ainda não temos filmes de {{ genero.tipo }} cadastrado!</p>
        {% endif %}
    </ul>
{% endblock %}
